

<div ng-controller="SignupController as s">

    <md-toolbar>
        <h5 >&nbsp;Signup</h5>
    </md-toolbar>

    <section flex layout="row">
    <div flex="5" flxed layout="column"> </div>
    <div flex="90" flxed layout="column">

        <div  >
            <br/>
            <md-content class="autoScroll">
                <md-input-container class=" md-block">
                    <label>Name</label>
                    <input ng-model="s.addCompany.name" type="text">
                </md-input-container>
                <md-input-container md-no-float class="md-block">

                    <input ng-model="s.addCompany.phone" type="text" placeholder="Phone Number">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <input ng-model="s.addCompany.address" type="text" placeholder="Address" >

                </md-input-container>

                <md-input-container class="md-block">

                    <input ng-model="s.addCompany.email" type="email" placeholder="Email (required)" ng-required="true">
                </md-input-container>

                <md-input-container md-no-float class="md-block">

                    <input ng-model="s.addCompany.pass" type="text" placeholder="Password" ng-required="true">
                </md-input-container>
                <md-button ng-click="s.addNewCompany()">Signup</md-button>
            </md-content>
        </div>

    </div>
    <div flex="5" flxed layout="column"> </div>
</section>

</div>


